.box-container {
    width: 75vw;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
    margin: 2vh 10vw;
}



/* Tablet and above */
@media (min-width: 768px) {
    .box-container {
        width: 25vw;
    }
}