.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 11vh;
}

.background-image {
    width: 35vw;
    margin: auto;
}


/* Tablet and above */
@media (min-width: 768px) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .background-image {
        width: 28vw;
    }
}